*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: Verdana;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header .nav__logo__link {
  margin-left: 6rem;
  text-decoration: none;
  color: #335576;
  font-size: 1.3rem;
  font-weight: 700;
}
.header .nav__menu__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 6rem;
}
.header .nav__menu__list .nav__menu__items {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem;
  margin: 0 0.2rem;
  list-style-type: none;
}
.header .nav__menu__list .nav__menu__items .nav__menu__link {
  text-decoration: none;
  color: #335576;
}
.header .nav__menu__list .nav__menu__items .nav__menu__link:hover {
  color: #db7a4e;
}
.header .nav__menu__list .nav__menu__items--active {
  border-bottom: 0.2rem solid #db7a4e;
}

.footer {
  width: 100%;
  position: relative;
  top: 3.1rem;
  background-color: #fefaf5;
  display: flex;
  justify-content: center;
}
.footer__part {
  text-align: left;
  margin: 1.9rem 2.5rem;
}
.footer__part--big {
  display: flex;
  justify-content: center;
}
.footer__part--big__part {
  margin: 0 1rem;
  padding: 0;
}
.footer__part--link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__heading {
  color: #335576;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
}
.footer__heading--invisible {
  visibility: hidden;
}
.footer__title {
  color: #db7a4e;
  font-size: 0.7rem;
  margin-top: 0.7rem;
  margin-bottom: 0.1rem;
}
.footer__text {
  color: #335576;
  font-size: 0.9rem;
  padding-top: 0;
  margin-top: 0.6rem;
}
.footer__list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.footer__item {
  margin: 0.5rem 1.6rem 0.5rem 0;
}
.footer__item--last {
  margin-right: 0;
}
.footer__link {
  text-decoration: none;
}
.footer__icon {
  height: 1.4rem;
}

.Greece {
  background-image: url("../assets/Images/greece.jpg");
}

.Hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
}

.Iceland {
  background-image: url("../assets/Images/iceland.jpg");
}

.main {
  position: relative;
  top: 3.2rem;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.main__heading {
  font-size: 4rem;
  font-weight: 900;
  margin: 0 0 3rem 6rem;
  color: #ffffff;
  padding-top: 3rem;
}
.main__Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}
.main .Itinerary__card {
  border-radius: 0.3125rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  width: 16rem;
  height: 24rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.main .Itinerary__card__day {
  text-align: center;
  font-size: 1rem;
  border-bottom: 0.125rem solid black;
  width: 100%;
  margin: 0.4rem 0;
}
.main .Itinerary__card__list {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.main .Itinerary__card__list__item {
  background-color: #fefaf5;
  text-align: center;
  padding: 1rem 0;
  margin: 0 0 1rem 0;
  width: 100%;
  font-size: 1rem;
}/*# sourceMappingURL=destinations.css.map */